<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Merq.Async" version="1.0.1-alpha" targetFramework="net452" />
  <package id="MSBuilder" version="0.1.0" targetFramework="net452" />
  <package id="MSBuilder.CodeTaskAssembly" version="0.2.3" targetFramework="net452" />
  <package id="MSBuilder.IsXBuild" version="0.1.0" targetFramework="net452" />
  <package id="MSBuilder.VsixDependency" version="0.1.0" targetFramework="net452" />
  <package id="MSBuilder.VsixInstaller" version="0.2.4" targetFramework="net452" />
</packages>