<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="CommonFilesFolder">
			<Directory Id="ClideVsixShared" Name="Microsoft Shared">
				<Directory Id="ClideVsixInstallDir" Name="VisualStudio" />
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>