<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Clide" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="765BEB60-BBD3-4E8F-8299-F4CA395ED892">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

		<MajorUpgrade AllowDowngrades="yes" MigrateFeatures="no" />
		<Media Cabinet="Clide.cab" EmbedCab="yes" Id="1" />

		<Feature Id="ProductFeature" Title="Clide" Level="1">
			<ComponentGroupRef Id="Clide" />
		</Feature>

		<Icon Id="Clide.ico" SourceFile="$(var.ProductIcon)" />
		<Property Id="ARPPRODUCTICON" Value="Clide.ico" />

		<!-- Explicit value passed in by the VS15 installer should prevail, for SxS reasons -->
		<SetProperty Id="VS15_ROOT_FOLDER" Value="[VS_15_DIR]" Before="CostInitialize"><![CDATA[VS_15_DIR]]></SetProperty>
		<SetProperty Id="VS_VSIX_INSTALLER_PATH" Value="[VS15_ROOT_FOLDER]Common7\IDE\VSIXInstaller.exe" After="SetVS15_ROOT_FOLDER"><![CDATA[VS_15_DIR]]></SetProperty>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="CommonFilesFolder" />
			</Directory>
		</Directory>
	</Fragment>
</Wix>