<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Adapter.Implementation.Source" version="1.1.1301.1418" targetFramework="net45" developmentDependency="true" />
  <package id="Adapter.Interfaces.Source" version="1.1.1301.1418" targetFramework="net45" developmentDependency="true" />
  <package id="Adapter.Sdk.Source" version="1.1.1301.1418" targetFramework="net45" developmentDependency="true" />
  <package id="Adapter.Source" version="1.1.1301.1418" targetFramework="net45" developmentDependency="true" />
  <package id="Clarius.TransformOnBuild" version="1.1.12" targetFramework="net45" developmentDependency="true" />
  <package id="CommonComposition.Mef.Source" version="0.2.3" targetFramework="net45" developmentDependency="true" />
  <package id="CommonComposition.Source" version="0.2.3" targetFramework="net45" developmentDependency="true" />
  <package id="CommonServiceLocator.Source" version="1.0.2" targetFramework="net45" developmentDependency="true" />
  <package id="GitInfo" version="1.0.54-pre" targetFramework="net45" />
  <package id="netfx-Guard" version="1.3.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-Reflector" version="1.0.0.10" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.AmbientSingleton" version="1.2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.AppDomainData" version="1.1.0.3" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.1.1" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.Collections.Generic.IEnumerable.Traverse" version="1.1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.ComponentModel.Attributes" version="1.0.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.Dynamic.Reflection" version="1.1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.Reflection.GetCustomAttribute" version="1.1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.ServiceProvider" version="1.2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.StringFormatWith" version="1.1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.StringResources" version="3.0.4" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.TypeInheritance" version="1.1.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="netfx-System.Windows.Threading.DispatcherInvokeExtensions" version="1.0.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="System.Diagnostics.Tracer" version="2.0.6" targetFramework="net45" />
  <package id="TaskHelpers.Sources" version="0.3" targetFramework="net45" developmentDependency="true" />
  <package id="VSSDK.ComponentModelHost" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.ComponentModelHost.11" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.DTE.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.DTE.8" version="8.0.4" targetFramework="net45" />
  <package id="VSSDK.DTE.9" version="9.0.4" targetFramework="net45" />
  <package id="VSSDK.GraphModel" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.11" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net45" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net45" />
  <package id="VSSDK.OLE.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.11" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Immutable.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Immutable.11" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop.10" version="10.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop.11" version="11.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop.8" version="8.0.4" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop.9" version="9.0.4" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop" version="7.0.4" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop.8" version="8.0.4" targetFramework="net45" />
  <package id="VSSDK.VSLangProj" version="7.0.4" targetFramework="net45" />
</packages>