<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="msbuilder" value="https://ci.appveyor.com/nuget/msbuilder" />
    <add key="gitinfo" value="https://ci.appveyor.com/nuget/gitinfo" />
    <add key="xunit.vsix" value="https://nugets.blob.core.windows.net/xunit/index.json" />
    <add key="xvssdk" value="https://nugets.blob.core.windows.net/xvssdk/index.json" />
    <add key="local" value="%TEMP%\packages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>