<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net46" />
  <package id="Fody" version="1.29.2" targetFramework="net46" developmentDependency="true" />
  <package id="GitInfo" version="1.1.20" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="ModuleInit.Fody" version="1.5.9.0" targetFramework="net46" developmentDependency="true" />
  <package id="Moq" version="4.5.13" targetFramework="net46" />
  <package id="MSBuilder.CodeTaskAssembly" version="0.2.3" targetFramework="net46" />
  <package id="MSBuilder.DumpItems" version="0.1.7" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net46" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net46" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net46" />
  <package id="System.Collections" version="4.0.0" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net46" />
  <package id="System.IO" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.1.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.0.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.0.0" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>